body {
    margin: 0;
}
 
header {
    width: 100%;
    height: auto;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family:cursive;
}

header .container-title{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #f56b2a;
}

header .container-title .title {
    display: block;
    text-align: left;
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}

header .container-title form{
    position: absolute;
    right: 10px;
    top: 0;
}

header .container-menu{
    display: inline-flex;
    width: 100%;
    height: auto;
}
header .container-menu .menu{
    display: block;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 2px;
    background-color: #1D6997;
}

header .container-menu .menu:hover{
    background: #004775;
}

@media screen and (max-width: 700px) {
    header .container-menu{
        display: block;
    }
}

@media screen and (max-width: 900px) {
    header .container-title form{
        position: static;
        display: inline-block;
    }
}

/* Components */
.button {
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #dff0d8;
    background-color: #19B51B;
    border-color: #d6e9c6;
    margin: 2px;
}

.button:hover{
    color: #19B51B;
    background-color: #dff0d8;
}

.success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}