html {
  height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
}

.container {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
}

/* HEADER */
header {
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
}

header .container-title{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #f56b2a;
}

header .container-title .title {
    display: block;
    text-align: left;
    margin-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family:cursive;
}

header .container-title form{
    position: absolute;
    right: 10px;
    top: 0;
}

nav .container-menu{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #1D6997;
    color: white;
    font-size: 20px;
    text-align: center;
}
nav .container-menu .menu{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5px;
    background-color: #1D6997;
}

nav .container-menu .menu:hover{
    background: #004775;
}

/* FOOTER */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    text-align: center;
}

/* search pages */

.no-result{
    margin: 20px;
    font-size: 25px;
    font-weight: bolder;
}

.search-container{
    display: flex;
}

.search-container aside header{
    color: #f56b2a;
}

.search-container .categories{
    width: 200px;
    max-width: 200px;
    height:100%;
}

/* container formulaire */
.container-form form{
    margin: 20px 100px;
    background-color: #fbfbfb;
    padding: 50px;
    border-radius: 10px;
}

.container-form form .categories{
    text-align: center;
}

.container-form form button[type="submit"]{
    display: block;
    width: 200px;
    height: 30px;
    margin: 5px auto;
}

.container-form form textArea{
    width: 100%;
    height: 100px;
    resize: none;
}

form h1{
    text-align: center;
    color:#f56b2a;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

form h2{
    color: #1D6997;
}

.categories .category{
    display: inline-block;
    height: 30px;
    width: 200px;
    background-color: #ffab62;
    margin: 3px;
    color: white;
    text-align: center;
}

.categories .category:hover{
    background-color: #f56b2a;
    cursor: pointer;
}

.category_selected{
    background-color: #f56b2a !important;
}

label + input{
    display: none;
}


form .categories input[type="submit"]{
    visibility: hidden;
}

.search-container .items{
    width: 100%;
    height: 100%;
}

.items form{
    margin: 20px;
    text-align: center;
}

.items form input{
    display: inline-block;
    margin: 5px;
}

.items form button[type="submit"]{
    display: block;
    margin: auto;
}


.search-container .items .item{
    display: flex;
    max-width: 800px;
    height: 120px;
    margin: 30px auto;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 2px;
    border-radius: 5px;
}
.search-container .items .item:hover{
    border-color: white;
    background-color: #F5F5F5;
}

.item img{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.item .description{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-left: 5px;
}

.item .description .title{
    margin: 0px;
    max-width: 600px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item .description .desc{
    margin: 2px;
    max-width: 650px;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    
}
.item .description .price{
    font-weight: bold;
    color: #f56b2a;
    font-size: 25px;
    margin: 0px;
}

.item .description .date{
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0px;
}

/* Formulaire création de compte */
#compte-form .multibock input {
    margin: 0px 10px 10px 0px;
}

#compte-form .multibock {
    margin: 10px 0px;
    display: block;
}

.largeur-60 {
    width: 60px;
}

.largeur-300 {
    width: 300px;
}

.largeur-100 {
    width: 100px;
}

/* Display compte */
#displayCompte img {
    width: 130px;
}

#displayCompte h4 {
    margin-right: 20px;
    color: #1D6997;    
}

/* Create zone clickable */
a.clickable{
    display:block;
    width: 100%;
    height: 100%;
    text-decoration:none;
    color: inherit;
}

.paginations{
    width: 100%;
    height: auto;
    margin: 10px 0px;
    text-align: center;
}

.paginations .page{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 2px;
    border-radius: 25px;
}

.paginations .selected, .paginations .page:hover{
    background-color: #ffab62;
    color: white;
}

/* Resize */
@media screen and (max-width: 700px) {
    nav .container-menu{
        display: block;
    }
    
    nav .container-menu .menu{
        padding: 0px;
    }
    
    .search-container{
        display: block;
    }
    
    .search-container .categories{
        width: 100%;
        max-width: none;
    }
    
    .container-form form{
        margin: 20px 0px;
    }
    
    .container-form form input{
        margin: 3px 0px;
    }
}

@media screen and (max-width: 900px) {
    header .container-title form{
        position: static;
        display: inline-block;
    }
}

/* Components */
.button {
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #dff0d8;
    background-color: #19B51B;
    border-color: #d6e9c6;
    margin: 2px;
}

.button:hover{
    color: #19B51B;
    background-color: #dff0d8;
}

.success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}